<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Curb Your Litter &#187; Trash News</title>
	<atom:link href="/output/trash-news/feed/" rel="self" type="application/rss+xml" />
	<link>http://curbyourlitter.org</link>
	<description>Greenpoint</description>
	<lastBuildDate>Thu, 04 Aug 2016 19:19:52 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.3.1</generator>

<image>
	<url>/wp-content/uploads/cyl-icon.png</url>
	<title> &#187; Trash News</title>
	<link>http://curbyourlitter.org</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Good.Clean.Fun in McCarren Park</title>
		<link>/good-clean-fun-in-mccarren-park/</link>
		<comments>/good-clean-fun-in-mccarren-park/#comments</comments>
		<pubDate>Sun, 30 Aug 2015 17:41:56 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Trash News]]></category>
		<category><![CDATA[McCarren Park]]></category>

		<guid isPermaLink="false">http://dev.curbyourlitter.org/p=122</guid>
		<description><![CDATA[When it comes to litter prevention, every little bit counts. Good.Clean.Fun.is a grassroots effort to clean up McCarren Park that utilizes a new approach: passing out gloves to people exercising in McCarren Park and<br/><a class="read-more und-blue-link" href="/good-clean-fun-in-mccarren-park/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>When it comes to litter prevention, every little bit counts. Good.Clean.Fun.is a grassroots effort to clean up McCarren Park that utilizes a new approach: passing out gloves to people exercising in McCarren Park and instructing them to pick up litter while they work out. Sam from Good.Clean.Fun. will be at the track <a href="http://www.nycgovparks.org/events/2015/09/05/its-my-park-at-mccarren-park-with-goodcleanfun" target="_blank">every Saturday from September 5 to October 31, 2015</a> to equip you with gloves and instructions.</p>
<p>Read more about Good.Clean.Fun in the <a href="http://greenpointnews.com/2015/07/09/new-mccarren-program-makes-cleaning-part-of-cardio/" target="_blank">Greenpoint Gazette</a>.</p>
]]></content:encoded>
			<wfw:commentRss>/good-clean-fun-in-mccarren-park/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Staten Island Releases 2015 Litter Report</title>
		<link>/staten-island-releases-2015-litter-report/</link>
		<comments>/staten-island-releases-2015-litter-report/#comments</comments>
		<pubDate>Tue, 14 Apr 2015 19:49:09 +0000</pubDate>
		<dc:creator><![CDATA[Zach Mihalko]]></dc:creator>
				<category><![CDATA[Trash News]]></category>
		<category><![CDATA[Litter in NYC]]></category>
		<category><![CDATA[Staten Island]]></category>

		<guid isPermaLink="false">http://dev.curbyourlitter.org/p=296</guid>
		<description><![CDATA[In 2014, Staten Island Borough President James Oddo launched Clean Up Staten Island to stop the borough’s “litter epidemic.” Clean Up Staten Island created several  tools for residents, businesses and elected officials to help<br/><a class="read-more und-blue-link" href="/staten-island-releases-2015-litter-report/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>In 2014, Staten Island Borough President James Oddo launched <a href="http://www.statenislandusa.com/cleanupsi.html" target="_blank">Clean Up Staten Island</a> to stop the borough’s “litter epidemic.” Clean Up Staten Island created several  tools for residents, businesses and elected officials to help curb the borough’s litter problem. Oddo’s approach is five-fold:</p>
<p>1. Clean up litter as quickly as possible<br />
2. Coordinate with other elected officials and agencies to ensure there are no duplicative efforts<br />
3. Encourage non-government organizations, including businesses and nonprofit organizations, to become part of the solution<br />
4. Engage Staten Islanders to be aware of the issue and to make it a norm to clean litter whenever the can through creative means<br />
5. Explore new technologies that can help us more efficiently clean litter</p>
<p>Clean Up Staten Island bears some resemblance to Curb Your Litter: Greenpoint. Both programs target local businesses to maintain the street and sidewalk in front of their storefronts, and both include ways for residents to share input via smartphones.</p>
<p>After running the project for a year, the office released <a href="http://www.statenislandusa.com/uploads/1/0/9/1/10915079/sibp_2015litterreport.pdf" target="_blank">Clean Up Staten Island Report</a> which details the accomplishments of the program. Major highlights include the establishment of an on-call litter response team, the allocation of $68,500 to each of Staten Island’s three City Council members to start their own litter initiatives. We commend BP Oddo’s commitment to tackling his Borough’s litter problem with such a comprehensive campaign.</p>
<p>Our personal favorite from the program’s list of accomplishments is the above Trash Talk poster campaign, which features a handful of residents putting the pressure on their neighbors to curb their litter problem. According to Oddo, “The most frustrating part of the current litter epidemic is that Staten Islanders themselves cause it. No one else can be blamed. It is a self-inflicted wound.” We couldn’t agree more!</p>
]]></content:encoded>
			<wfw:commentRss>/staten-island-releases-2015-litter-report/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Organics Collection is coming to Greenpoint!</title>
		<link>/organics-collection-is-coming-to-greenpoint/</link>
		<comments>/organics-collection-is-coming-to-greenpoint/#comments</comments>
		<pubDate>Wed, 25 Mar 2015 22:43:09 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Trash News]]></category>
		<category><![CDATA[Compost]]></category>
		<category><![CDATA[Zero Waste]]></category>

		<guid isPermaLink="false">http://dev.curbyourlitter.org/p=428</guid>
		<description><![CDATA[If you live in the area shaded in red on the above map, you will soon be required by the City to separate your food waste from the rest of your trash. In June,<br/><a class="read-more und-blue-link" href="/organics-collection-is-coming-to-greenpoint/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p><img class="img-responsive alignnone wp-image-584 size-full" src="http://dev.curbyourlitter.org/wp-content/uploads/NYC_OrganicsCollection_areas-4.jpg" alt="NYC_OrganicsCollection_areas-4" width="2494" height="3240" /></p>
<p><img class="img-responsive alignnone wp-image-622 size-full" src="http://dev.curbyourlitter.org/wp-content/uploads/nbcnewsvideo.jpg" alt="nbcnewsvideo" width="2880" height="1634" /></p>
<p>If you live in the area shaded in red on the above map, you will soon be required by the City to separate your food waste from the rest of your trash.</p>
<p>In June, the NYC Department of Sanitation will deliver special containers to store your separated food waste to be picked up at the same time as your other trash and recycling. We&#8217;re excited to start separating our compost to help reduce the amount of overall trash sent to landfill in New York City.</p>
<p><a href="http://gothamist.com/2014/05/30/nyc_composting_tips.php#photo-1" target="_blank">Read more about what a resident of Park Slope had to say about adopting a new organics collection program in his neighborhood</a>.</p>
]]></content:encoded>
			<wfw:commentRss>/organics-collection-is-coming-to-greenpoint/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>DNAInfo reports on Greenpoint’s litter problem</title>
		<link>/dna-info-reports-on-greenpoint-litter-problem/</link>
		<comments>/dna-info-reports-on-greenpoint-litter-problem/#comments</comments>
		<pubDate>Fri, 20 Mar 2015 19:47:23 +0000</pubDate>
		<dc:creator><![CDATA[Zach Mihalko]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Trash News]]></category>
		<category><![CDATA[Franklin Street]]></category>
		<category><![CDATA[Neighborhood Voices]]></category>

		<guid isPermaLink="false">http://dev.curbyourlitter.org/p=295</guid>
		<description><![CDATA[“As she walked her dog one recent morning, Danielle McGunagle steered her pup away from broken glass, an old mattress, plastic bags and a chicken bone strewn on the sidewalk. &#8216;It&#8217;s dirty and it&#8217;s<br/><a class="read-more und-blue-link" href="/dna-info-reports-on-greenpoint-litter-problem/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>“As she walked her dog one recent morning, Danielle McGunagle steered her pup away from broken glass, an old mattress, plastic bags and a chicken bone strewn on the sidewalk.</p>
<p>&#8216;It&#8217;s dirty and it&#8217;s dangerous,&#8217; she said of the West Street and Franklin Street blocks in Northern Greenpoint, an area that has no public trash cans. &#8220;The streets are filthy, rife with broken glass, trash, discarded mattresses and auto parts, even construction debris.'&#8221;</p>
<p>Read more from Meredith Hoffman’s 2013 article “<a href="http://www.dnainfo.com/new-york/20130204/greenpoint/lack-of-trash-cans-leaves-greenpoint-streets-strewn-with-trash" target="_blank">Lack of Trash Cans Leaves Greenpoint Streets Strewn With Litter.</a>”</p>
]]></content:encoded>
			<wfw:commentRss>/dna-info-reports-on-greenpoint-litter-problem/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Greenpoint lacks necessary trash bins, residents say</title>
		<link>/greenpoint-lacks-necessary-trash-bins/</link>
		<comments>/greenpoint-lacks-necessary-trash-bins/#comments</comments>
		<pubDate>Mon, 09 Mar 2015 20:41:58 +0000</pubDate>
		<dc:creator><![CDATA[Zach Mihalko]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Trash News]]></category>
		<category><![CDATA[Franklin Street]]></category>
		<category><![CDATA[Neighborhood Voices]]></category>

		<guid isPermaLink="false">http://dev.curbyourlitter.org/p=316</guid>
		<description><![CDATA[In 2013, NBC 4 New York’s Roseanne Colletti reported on Greenpointers’ opinion that a lack of trash cans in the neighborhood is causing a major litter problem. See the full story.]]></description>
				<content:encoded><![CDATA[<p><script src="http://www.nbcnewyork.com/portableplayer/?cmsID=189742941&amp;videoID=ar8oFaUasMJ0&amp;origin=nbcnewyork.com&amp;sec=video&amp;subsec=&amp;width=600&amp;height=360" type="text/javascript" charset="UTF-8"></script></p>
<p>In 2013, NBC 4 New York’s Roseanne Colletti reported on Greenpointers’ opinion that a lack of trash cans in the neighborhood is causing a major litter problem. <a href="http://www.nbcnewyork.com/video/#!/on-air/as-seen-on/Greenpoint-Lacks-Necessary-Trash-Bins--Residents-Say/189742941" target="_blank">See the full story.</a></p>
]]></content:encoded>
			<wfw:commentRss>/greenpoint-lacks-necessary-trash-bins/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
