<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Curb Your Litter</title>
	<atom:link href="/feed/" rel="self" type="application/rss+xml" />
	<link>http://curbyourlitter.org</link>
	<description>Greenpoint</description>
	<lastBuildDate>Fri, 05 Jan 2018 21:52:05 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.1</generator>

<image>
	<url>/wp-content/uploads/cyl-icon.png</url>
	<title>Curb Your Litter</title>
	<link>http://curbyourlitter.org</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Talking Trash: Curriculum Guide Launch Event!</title>
		<link>/talking-trash-curriculum-guide-launch-event/</link>
		<comments>/talking-trash-curriculum-guide-launch-event/#respond</comments>
		<pubDate>Wed, 08 Nov 2017 21:53:36 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Get Involved]]></category>
		<category><![CDATA[Project Update]]></category>

		<guid isPermaLink="false">/?p=1066</guid>
		<description><![CDATA[The Center for Urban Pedagogy and Curb Your Litter: Greenpoint invite educators and organizers to a training session and launch event for our newly minted curriculum guide based on the student-made documentary, Talking Trash: Throwing Out<br/><a class="read-more und-blue-link" href="/talking-trash-curriculum-guide-launch-event/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<div id="mmi_7876" class="column-module column-module-2 column-module-last">
<div id="mmi_7879" class="page-magic-module text-module">
<div class="text">
<p><span class="caps">The <a href="http://welcometocup.org">Center for Urban Pedagogy</a></span> and Curb Your Litter: Greenpoint invite educators and organizers to a training session and launch event for our newly minted curriculum guide based on the student-made documentary, <a href="http://welcometocup.org/Projects/UrbanInvestigations/TalkingTrashThrowingOutTheBigApple"><i>Talking Trash: Throwing Out the Big Apple</i></a><i><i>!</i></i></p>
<p style="text-align: center;"><strong><i>Talking Trash Curriculum Guide for Educators</i> Launch Party!</strong><br />
<strong>Saturday, November 18th</strong><br />
<strong>A/D/O (29 Norman Avenue, Brooklyn)</strong><br />
<strong>Training Session: 11am – 12pm</strong><br />
<strong>Launch Party: 12pm – 2pm</strong></p>
<p>Bring engaging, fun, and hands-on activities about New York City’s waste management system, environmental justice, and trash reduction to your classroom or community organization. Activities can be taught individually or as a series, and all are aligned with Common Core Learning standards.</p>
<p>Middle and high school educators, as well as facilitators working with neighborhood organizations, are invited to a <span class="caps">FREE</span> training session and launch party on Saturday, November 18th. All attendees will receive free copies of the guide.</p>
<p>Learn more about the project <a href="http://welcometocup.org/Projects/UrbanInvestigations/TalkingTrashThrowingOutTheBigApple">here</a>!</p>
<p>We hope to see you there!</p>
<p><i>Free and open to the public.</i></p>
<p>Please <span class="caps">RSVP</span> at <a href="mailto:rsvp@welcometocup.org">rsvp@welcometocup.org</a> by Friday, November 17th.</p>
<p class="last-child" style="text-align: center;">
</div>
</div>
</div>
<div></div>
<p><a name="2"></a></p>
<div id="mmi_2" class="static-magic-module page-footer-module"></div>
]]></content:encoded>
			<wfw:commentRss>/talking-trash-curriculum-guide-launch-event/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Grand Finale</title>
		<link>/grand-finale/</link>
		<comments>/grand-finale/#respond</comments>
		<pubDate>Sun, 01 Oct 2017 13:49:01 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 12]]></category>
		<category><![CDATA[Report]]></category>
		<category><![CDATA[Park Church Co-op]]></category>
		<category><![CDATA[Southeast Greenpoint]]></category>

		<guid isPermaLink="false">/?p=1070</guid>
		<description><![CDATA[The Curb Your Litter clean up day series ended on Saturday, September 30, 2017. It was a bittersweet end of an era, but the team feels lucky that so many stellar volunteers were able to<br/><a class="read-more und-blue-link" href="/grand-finale/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>The Curb Your Litter clean up day series ended on Saturday, September 30, 2017. It was a bittersweet end of an era, but the team feels lucky that so many stellar volunteers were able to join us! There were rumblings of people self-organizing to continue the tradition and we are 100% here for that. Special thanks to Park Church Co-op for sponsoring this event with us!</p>
<p>&nbsp;</p>
<p>If you are interested in learning how to organize a fun and successful clean up day we&#8217;d love to pass the baton! Email us for info on how to gather donated supplies, round up people, and document your impact!</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/grand-finale/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>September 30: Our very last Clean Up Day!</title>
		<link>/september-30-our-very-last-clean-up-day/</link>
		<comments>/september-30-our-very-last-clean-up-day/#respond</comments>
		<pubDate>Thu, 17 Aug 2017 20:25:02 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 12]]></category>
		<category><![CDATA[Southeast Greenpoint]]></category>

		<guid isPermaLink="false">/?p=1063</guid>
		<description><![CDATA[It&#8217;s the last hurrah! Please join us for the FINAL clean up day of the Curb Your Litter project. We will be sure to give out something special to all of our volunteers. Saturday,<br/><a class="read-more und-blue-link" href="/september-30-our-very-last-clean-up-day/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>It&#8217;s the last hurrah! Please join us for the FINAL clean up day of the Curb Your Litter project. We will be sure to give out something special to all of our volunteers.</p>
<p>Saturday, September 30<br />
10am &#8211; 2pm<br />
McGolrick Park</p>
<p><a href="https://www.eventbrite.com/e/greenpoint-clean-up-day-12-tickets-34929152034" target="_blank">Please RSVP!</a></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/september-30-our-very-last-clean-up-day/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Creek Task Force</title>
		<link>/creek-task-force/</link>
		<comments>/creek-task-force/#respond</comments>
		<pubDate>Sun, 13 Aug 2017 14:30:53 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 11]]></category>
		<category><![CDATA[Report]]></category>

		<guid isPermaLink="false">/?p=1097</guid>
		<description><![CDATA[We returned to the Newtown Creek area to tackle the dirty dead-ends that line the waterfront. These areas currently act as safe havens for illegal dumping because of the lack of foot traffic and surrounding industrial<br/><a class="read-more und-blue-link" href="/creek-task-force/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>We returned to the Newtown Creek area to tackle the dirty dead-ends that line the waterfront. These areas currently act as safe havens for illegal dumping because of the lack of foot traffic and surrounding industrial land uses. Volunteers of all ages were up to the task of picking up this unusually heavy garbage! We were very thankful to the great team at the Newtown Creek Alliance for working with us and educating our group on the health and safety of Greenpoint&#8217;s amazing natural asset.</p>
<p>&nbsp;</p>
<p>Read a bigger recap of this event on the <a href="http://gogreenbk.org/2017/08/stink-spirits-clean-day-curb-litter-greenpoint/">Go Green Brooklyn site</a>!</p>
]]></content:encoded>
			<wfw:commentRss>/creek-task-force/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Clean Up Day with Broadway Stages</title>
		<link>/clean-up-day-with-broadway-stages/</link>
		<comments>/clean-up-day-with-broadway-stages/#respond</comments>
		<pubDate>Mon, 17 Jul 2017 15:13:32 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 11]]></category>
		<category><![CDATA[Northeast Greenpoint]]></category>

		<guid isPermaLink="false">/?p=1058</guid>
		<description><![CDATA[Join us and Neighbors Allied for Good Growth for the third Curb Your Litter: Greenpoint clean-up day of 2017. We&#8217;re excited to partner with the Newtown Creek Alliance to pay special attention to streets that dead end into<br/><a class="read-more und-blue-link" href="/clean-up-day-with-broadway-stages/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>Join us and <a href="http://nag-brooklyn.org/" target="_blank">Neighbors Allied for Good Growth</a> for the third <a href="/" target="_blank">Curb Your Litter: Greenpoint</a> clean-up day of 2017. We&#8217;re excited to partner with the Newtown Creek Alliance to pay special attention to streets that dead end into our waterways.</p>
<p>We will pick up street litter in Northeast Greenpoint (east of McGuinness Boulevard and north of Norman Avenue). Our home base will be Broadway Stages at 203 Diamond Street.</p>
<p style="text-align: center;"><strong>Saturday, August 12</strong><br />
<strong>10am &#8211; 2pm</strong><br />
<strong>203 Diamond Street</strong><br />
<strong><a href="https://www.eventbrite.com/e/greenpoint-clean-up-day-11-tickets-34928984533">RSVP Please!</a></strong></p>
<p>As always, all volunteers will get a free lunch as a thank you for their efforts.</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/clean-up-day-with-broadway-stages/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Activists unite over litter!</title>
		<link>/activists-unite-over-litter/</link>
		<comments>/activists-unite-over-litter/#respond</comments>
		<pubDate>Sun, 09 Jul 2017 14:39:20 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 10]]></category>
		<category><![CDATA[Report]]></category>

		<guid isPermaLink="false">/?p=1106</guid>
		<description><![CDATA[On July 8 we gathered again at Greenpoint Reformed Church to pick up garbage along Manhattan, Franklin and all of Northwest Greenpoint. Always a good host, the Church provided us with a great backyard<br/><a class="read-more und-blue-link" href="/activists-unite-over-litter/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>On July 8 we gathered again at Greenpoint Reformed Church to pick up garbage along Manhattan, Franklin and all of Northwest Greenpoint. Always a good host, the Church provided us with a great backyard and tables for eating lunch post-clean up. The best part about this event to us were the connections made between volunteers- local activists for environmental and social justice issues in our neighborhood begin brainstorming new projects to collaborate on while making the neighborhood a cleaner place to live.</p>
]]></content:encoded>
			<wfw:commentRss>/activists-unite-over-litter/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Lucky #10: See you at our next Clean Up Day</title>
		<link>/lucky-10-see-you-at-our-next-clean-up-day/</link>
		<comments>/lucky-10-see-you-at-our-next-clean-up-day/#respond</comments>
		<pubDate>Mon, 19 Jun 2017 19:30:43 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 10]]></category>
		<category><![CDATA[Northwest Greenpoint]]></category>

		<guid isPermaLink="false">/?p=1055</guid>
		<description><![CDATA[Join us and Neighbors Allied for Good Growth for the second Curb Your Litter: Greenpoint clean-up day of 2017. We will pick up street litter in Northwest Greenpoint (west of McGuinness Boulevard and north of Calyer Street). Come<br/><a class="read-more und-blue-link" href="/lucky-10-see-you-at-our-next-clean-up-day/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>Join us and <a href="http://nag-brooklyn.org/" target="_blank">Neighbors Allied for Good Growth</a> for the second <a href="/" target="_blank">Curb Your Litter: Greenpoint</a> clean-up day of 2017.</p>
<p>We will pick up street litter in Northwest Greenpoint (west of McGuinness Boulevard and north of Calyer Street). Come join us!</p>
<p>&nbsp;</p>
<p><strong>Saturday, July 8, 2017</strong></p>
<p>10am -2pm</p>
<p>Greenpoint Reformed Church (136 Milton Street)</p>
<p><a href="https://www.eventbrite.com/e/greenpoint-clean-up-day-10-tickets-34928951434" target="_blank">Please RSVP</a>!</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/lucky-10-see-you-at-our-next-clean-up-day/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Going Green in McCarren Park</title>
		<link>/going-green-in-mccarren-park/</link>
		<comments>/going-green-in-mccarren-park/#respond</comments>
		<pubDate>Sun, 04 Jun 2017 15:00:03 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 9]]></category>
		<category><![CDATA[Report]]></category>
		<category><![CDATA[Southwest Greenpoint]]></category>

		<guid isPermaLink="false">/?p=1111</guid>
		<description><![CDATA[The 2017 Clean Up Day season kicked off in McCarren Park on June 3 as a part of the Go Green Brooklyn festival. We coaxed festival and park-goers to pick up litter in the<br/><a class="read-more und-blue-link" href="/going-green-in-mccarren-park/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>The 2017 Clean Up Day season kicked off in McCarren Park on June 3 as a part of the Go Green Brooklyn festival. We coaxed festival and park-goers to pick up litter in the Park by offering free Curb Your Litter tote bags&#8211; and the strategy worked! We&#8217;re looking forward to the rest of the season and tackling some of the tougher, dirtier areas in the coming months.</p>
]]></content:encoded>
			<wfw:commentRss>/going-green-in-mccarren-park/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Clean Up Day with Go Green: Brooklyn</title>
		<link>/clean-up-day-with-go-green-brooklyn/</link>
		<comments>/clean-up-day-with-go-green-brooklyn/#respond</comments>
		<pubDate>Thu, 04 May 2017 19:30:06 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Announcement]]></category>
		<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 9]]></category>
		<category><![CDATA[McCarren Park]]></category>
		<category><![CDATA[Southwest Greenpoint]]></category>

		<guid isPermaLink="false">/?p=1047</guid>
		<description><![CDATA[Join us and Neighbors Allied for Good Growth for the first Curb Your Litter: Greenpoint clean up day of 2017. We are teaming up with the Go Green Brooklyn festival to pick up McCarren<br/><a class="read-more und-blue-link" href="/clean-up-day-with-go-green-brooklyn/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>Join us and <a href="http://nag-brooklyn.org" target="_blank">Neighbors Allied for Good Growth</a> for the first Curb Your Litter: Greenpoint clean up day of 2017.</p>
<p>We are teaming up with the Go Green Brooklyn festival to pick up McCarren Park and the southwest section of our neighborhood. Join us to meet your neighbors and make Greenpoint a healthier and cleaner place to live. Attendees are invited to join the Go Green festival after the clean up!</p>
<p>10am &#8211; 1pm: Clean Up<br />
1 &#8211; 2pm: Lunch</p>
<p>We will meet near the park shelter and bathrooms in the center of the park. Look for our banner to find us!</p>
<p>All volunteers will get a free lunch as a thank you for their hard work.</p>
]]></content:encoded>
			<wfw:commentRss>/clean-up-day-with-go-green-brooklyn/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Clean Up Day 8: Recap</title>
		<link>/clean-up-day-8-recap/</link>
		<comments>/clean-up-day-8-recap/#respond</comments>
		<pubDate>Mon, 01 Aug 2016 20:23:47 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 8]]></category>
		<category><![CDATA[Project Update]]></category>
		<category><![CDATA[Report]]></category>

		<guid isPermaLink="false">/?p=1043</guid>
		<description><![CDATA[We held our last Clean Up Day event of 2016 on Saturday, July 30. Despite the heat and the fact that the majority of the neighborhood was on vacation, we had a turnout of<br/><a class="read-more und-blue-link" href="/clean-up-day-8-recap/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p class="p1">We held our last Clean Up Day event of 2016 on Saturday, July 30. Despite the heat and the fact that the majority of the neighborhood was on vacation, we had a turnout of nearly 30 volunteers to close out the year. Java Studios hosted our group and we were really grateful for their support.</p>
<p class="p1">Northeast Greenpoint is a very industrial area and home to many scrap metal businesses, auto shops and warehouses. Just like our 2015 clean up day in this area, we found a lot of illegal dumping of large contractor bags full of garbage, tires discarded on the side of the road, and improperly disposed household trash. While it is disappointing that these problems have persisted over the past year, it is good to know where these dumping hot spots are so we can report them to the NYC Department of Sanitation.</p>
<p class="p1">One positive observation we were happy to make was that the Newtown Creek Wastewater Treatment plant keeps their property impeccably clean!</p>
<p class="p1">Check out the rest of the photos from this event on our <a href="https://www.facebook.com/media/set/?set=a.604390816400836.1073741838.437703839736202&amp;type=1&amp;l=1a832002f4" target="_blank">Facebook page</a>.</p>
]]></content:encoded>
			<wfw:commentRss>/clean-up-day-8-recap/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
