<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Curb Your Litter</title>
	<atom:link href="/feed/" rel="self" type="application/rss+xml" />
	<link>http://curbyourlitter.org</link>
	<description>Greenpoint</description>
	<lastBuildDate>Mon, 17 Jul 2017 15:16:28 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.3.1</generator>

<image>
	<url>/wp-content/uploads/cyl-icon.png</url>
	<title>Curb Your Litter</title>
	<link>http://curbyourlitter.org</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Clean Up Day with Broadway Stages</title>
		<link>/clean-up-day-with-broadway-stages/</link>
		<comments>/clean-up-day-with-broadway-stages/#comments</comments>
		<pubDate>Mon, 17 Jul 2017 15:13:32 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 11]]></category>
		<category><![CDATA[Northeast Greenpoint]]></category>

		<guid isPermaLink="false">/?p=1058</guid>
		<description><![CDATA[Join us and Neighbors Allied for Good Growth for the third Curb Your Litter: Greenpoint clean-up day of 2017. We&#8217;re excited to partner with the Newtown Creek Alliance to pay special attention to streets that dead end into<br/><a class="read-more und-blue-link" href="/clean-up-day-with-broadway-stages/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>Join us and <a href="http://nag-brooklyn.org/" target="_blank">Neighbors Allied for Good Growth</a> for the third <a href="/" target="_blank">Curb Your Litter: Greenpoint</a> clean-up day of 2017. We&#8217;re excited to partner with the Newtown Creek Alliance to pay special attention to streets that dead end into our waterways.</p>
<p>We will pick up street litter in Northeast Greenpoint (east of McGuinness Boulevard and north of Norman Avenue). Our home base will be Broadway Stages at 203 Diamond Street.</p>
<p style="text-align: center;"><strong>Saturday, August 12</strong><br />
<strong>10am &#8211; 2pm</strong><br />
<strong>203 Diamond Street</strong><br />
<strong><a href="https://www.eventbrite.com/e/greenpoint-clean-up-day-11-tickets-34928984533">RSVP Please!</a></strong></p>
<p>As always, all volunteers will get a free lunch as a thank you for their efforts.</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/clean-up-day-with-broadway-stages/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Lucky #10: See you at our next Clean Up Day</title>
		<link>/lucky-10-see-you-at-our-next-clean-up-day/</link>
		<comments>/lucky-10-see-you-at-our-next-clean-up-day/#comments</comments>
		<pubDate>Mon, 19 Jun 2017 19:30:43 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 10]]></category>
		<category><![CDATA[Northwest Greenpoint]]></category>

		<guid isPermaLink="false">/?p=1055</guid>
		<description><![CDATA[Join us and Neighbors Allied for Good Growth for the second Curb Your Litter: Greenpoint clean-up day of 2017. We will pick up street litter in Northwest Greenpoint (west of McGuinness Boulevard and north of Calyer Street). Come<br/><a class="read-more und-blue-link" href="/lucky-10-see-you-at-our-next-clean-up-day/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>Join us and <a href="http://nag-brooklyn.org/" target="_blank">Neighbors Allied for Good Growth</a> for the second <a href="/" target="_blank">Curb Your Litter: Greenpoint</a> clean-up day of 2017.</p>
<p>We will pick up street litter in Northwest Greenpoint (west of McGuinness Boulevard and north of Calyer Street). Come join us!</p>
<p>&nbsp;</p>
<p><strong>Saturday, July 8, 2017</strong></p>
<p>10am -2pm</p>
<p>Greenpoint Reformed Church (136 Milton Street)</p>
<p><a href="https://www.eventbrite.com/e/greenpoint-clean-up-day-10-tickets-34928951434" target="_blank">Please RSVP</a>!</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/lucky-10-see-you-at-our-next-clean-up-day/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Clean Up Day with Go Green: Brooklyn</title>
		<link>/clean-up-day-with-go-green-brooklyn/</link>
		<comments>/clean-up-day-with-go-green-brooklyn/#comments</comments>
		<pubDate>Thu, 04 May 2017 19:30:06 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Announcement]]></category>
		<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 9]]></category>
		<category><![CDATA[McCarren Park]]></category>
		<category><![CDATA[Southwest Greenpoint]]></category>

		<guid isPermaLink="false">/?p=1047</guid>
		<description><![CDATA[Join us and Neighbors Allied for Good Growth for the first Curb Your Litter: Greenpoint clean up day of 2017. We are teaming up with the Go Green Brooklyn festival to pick up McCarren<br/><a class="read-more und-blue-link" href="/clean-up-day-with-go-green-brooklyn/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>Join us and <a href="http://nag-brooklyn.org" target="_blank">Neighbors Allied for Good Growth</a> for the first Curb Your Litter: Greenpoint clean up day of 2017.</p>
<p>We are teaming up with the Go Green Brooklyn festival to pick up McCarren Park and the southwest section of our neighborhood. Join us to meet your neighbors and make Greenpoint a healthier and cleaner place to live. Attendees are invited to join the Go Green festival after the clean up!</p>
<p>10am &#8211; 1pm: Clean Up<br />
1 &#8211; 2pm: Lunch</p>
<p>We will meet near the park shelter and bathrooms in the center of the park. Look for our banner to find us!</p>
<p>All volunteers will get a free lunch as a thank you for their hard work.</p>
]]></content:encoded>
			<wfw:commentRss>/clean-up-day-with-go-green-brooklyn/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Clean Up Day 8: Recap</title>
		<link>/clean-up-day-8-recap/</link>
		<comments>/clean-up-day-8-recap/#comments</comments>
		<pubDate>Mon, 01 Aug 2016 20:23:47 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 8]]></category>
		<category><![CDATA[Project Update]]></category>
		<category><![CDATA[Report]]></category>

		<guid isPermaLink="false">/?p=1043</guid>
		<description><![CDATA[We held our last Clean Up Day event of 2016 on Saturday, July 30. Despite the heat and the fact that the majority of the neighborhood was on vacation, we had a turnout of<br/><a class="read-more und-blue-link" href="/clean-up-day-8-recap/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p class="p1">We held our last Clean Up Day event of 2016 on Saturday, July 30. Despite the heat and the fact that the majority of the neighborhood was on vacation, we had a turnout of nearly 30 volunteers to close out the year. Java Studios hosted our group and we were really grateful for their support.</p>
<p class="p1">Northeast Greenpoint is a very industrial area and home to many scrap metal businesses, auto shops and warehouses. Just like our 2015 clean up day in this area, we found a lot of illegal dumping of large contractor bags full of garbage, tires discarded on the side of the road, and improperly disposed household trash. While it is disappointing that these problems have persisted over the past year, it is good to know where these dumping hot spots are so we can report them to the NYC Department of Sanitation.</p>
<p class="p1">One positive observation we were happy to make was that the Newtown Creek Wastewater Treatment plant keeps their property impeccably clean!</p>
<p class="p1">Check out the rest of the photos from this event on our <a href="https://www.facebook.com/media/set/?set=a.604390816400836.1073741838.437703839736202&amp;type=1&amp;l=1a832002f4" target="_blank">Facebook page</a>.</p>
]]></content:encoded>
			<wfw:commentRss>/clean-up-day-8-recap/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Community Map Fair: July 27</title>
		<link>/community-map-fair-july-27/</link>
		<comments>/community-map-fair-july-27/#comments</comments>
		<pubDate>Mon, 25 Jul 2016 21:20:13 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Project Update]]></category>
		<category><![CDATA[NAG]]></category>

		<guid isPermaLink="false">/?p=1001</guid>
		<description><![CDATA[We&#8217;re plugging our interactive trash map at the Neighbors Allied for Good Growth (NAG) Community Map Fair this Wednesday, July 27. The evening convenes several neighborhood organizations who have built maps about soil contamination, bicycle safety, affordable<br/><a class="read-more und-blue-link" href="/community-map-fair-july-27/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>We&#8217;re plugging our interactive trash map at the Neighbors Allied for Good Growth (NAG) Community Map Fair this Wednesday, July 27.</p>
<p>The evening convenes several neighborhood organizations who have built maps about soil contamination, bicycle safety, affordable housing, school segregation and other important information about North Brooklyn. NAG will also be launching their ToxiCity Map, the first ever comprehensive study of all the environmental contamination facing Greenpoint and Williamsburg.</p>
<p><strong>Event Details</strong><br />
Wednesday, July 27<br />
6:30 -8:30 PM<br />
McCarren Park Community Room (776 Lorimer St)<br />
<a href="https://www.facebook.com/events/547668642083251/">RSVP here</a></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/community-map-fair-july-27/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Talking Trash: Throwing Out the Big Apple</title>
		<link>/991-2/</link>
		<comments>/991-2/#comments</comments>
		<pubDate>Wed, 13 Jul 2016 19:46:08 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Project Update]]></category>

		<guid isPermaLink="false">/?p=991</guid>
		<description><![CDATA[Curb Your Litter worked with the Center for Urban Pedagogy and a group of students at Frances Perkins Academy to dig deeper into the complicated world of garbage infrastructure. Over the course of the 2015<br/><a class="read-more und-blue-link" href="/991-2/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p><iframe src="https://player.vimeo.com/video/174387534" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>Curb Your Litter worked with the <a href="http://welcometocup.org/" target="_blank">Center for Urban Pedagogy</a> and a group of students at Frances Perkins Academy to dig deeper into the complicated world of garbage infrastructure. Over the course of the 2015 – 2016 school year, the students created <em>Talking Trash: Throwing Out the Big Apple</em>, a documentary that explains who decides where our trash goes and how communities can have a say in these decisions.</p>
<p>The students uncovered some shocking stats about our waste system. For example, the city spends $300 million annually to export waste out of state, but only $17 million for AP college prep courses. AND- over 40% of the city&#8217;s waste transfer stations are housed in North Brooklyn. The group explored potential solutions to our trash problem applicable to Greenpoint and the rest of the city.</p>
<p>The students were led by Teaching Artist Dillion de Give and Assistant Emmanuella Soria Ruiz. The fabulous class that devoted hours of work to this film included: Randy Buggie, Amandalee Cabrera, Jordany Diaz, Malik Edwards, Destini Gibson, Angel Lopez, Nieya Olmo, Chris Ortiz, Sahjib Rashid, Maria Rodriguez, Samson Sutherland, Jairo Villar and Shonda Zephyr.</p>
]]></content:encoded>
			<wfw:commentRss>/991-2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>July 30: Last Clean Up Day of 2016</title>
		<link>/july-30-last-clean-up-day-of-2016/</link>
		<comments>/july-30-last-clean-up-day-of-2016/#comments</comments>
		<pubDate>Fri, 24 Jun 2016 21:50:42 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Announcement]]></category>
		<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[No. 8]]></category>
		<category><![CDATA[NAG]]></category>
		<category><![CDATA[Northeast Greenpoint]]></category>

		<guid isPermaLink="false">/?p=980</guid>
		<description><![CDATA[Join the Greenpoint Chamber of Commerce and Neighbors Allied for Good Growth to pick up northeast Greenpoint with Curb Your Litter: Greenpoint! *This is our LAST clean up day of 2016* Come out to Java<br/><a class="read-more und-blue-link" href="/july-30-last-clean-up-day-of-2016/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>Join the Greenpoint Chamber of Commerce and Neighbors Allied for Good Growth to pick up northeast Greenpoint with Curb Your Litter: Greenpoint!</p>
<p>*This is our LAST clean up day of 2016*</p>
<p>Come out to <a href="https://www.facebook.com/JavaStudios/" data-hovercard="/ajax/hovercard/page.php?id=211589092299339&amp;extragetparams=%7B%22directed_target_id%22%3A1083932595009957%7D">Java Studios</a> on Saturday, July 30 to meet your neighbors and make Greenpoint a healthier and cleaner place to live.</p>
<p>All volunteers will get a free lunch as a thank you for their hard work!</p>
]]></content:encoded>
			<wfw:commentRss>/july-30-last-clean-up-day-of-2016/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Where Does Your Trash Go? Come Find Out!</title>
		<link>/where-does-your-trash-go-come-find-out/</link>
		<comments>/where-does-your-trash-go-come-find-out/#comments</comments>
		<pubDate>Sat, 11 Jun 2016 23:32:30 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Project Update]]></category>
		<category><![CDATA[CUP]]></category>
		<category><![CDATA[Frances Perkins Academy]]></category>

		<guid isPermaLink="false">/?p=982</guid>
		<description><![CDATA[We have been working with the Center for Urban Pedagogy and a group of students at Frances Perkins Academy over the past year to dig deeper into the complicated world of garbage infrastructure. Students visited places like<br/><a class="read-more und-blue-link" href="/where-does-your-trash-go-come-find-out/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>We have been working with the <a href="http://welcometocup.org" target="_blank">Center for Urban Pedagogy</a> and a group of students at Frances Perkins Academy over the past year to dig deeper into the complicated world of garbage infrastructure. Students visited places like a local waste transfer station and a recycling facility and interviewed key decision makers including a private waste carrier, an environmental activist, a Department of Sanitation staff member, and the chair of the City Council’s Sanitation Committee.</p>
<p>The students created Talking Trash: Throwing Out the Big Apple, a documentary that explores questions like where does our trash go? Who decides?</p>
<p>Come join us to celebrate their hard work and see the video!</p>
<p><strong>Monday, July 11</strong><br />
<strong>7 &#8211; 9pm</strong><br />
<strong>Wythe Hotel </strong></p>
<p>RSVP to <a href="mailto:rsvp@welcometocup.org">rsvp@welcometocup.org</a> by Friday, July 8.</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/where-does-your-trash-go-come-find-out/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Southwest Greenpoint is About to Get Cleaner.</title>
		<link>/southwest-greenpoint-is-about-to-get-cleaner/</link>
		<comments>/southwest-greenpoint-is-about-to-get-cleaner/#comments</comments>
		<pubDate>Thu, 19 May 2016 16:51:18 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Announcement]]></category>
		<category><![CDATA[Clean Up Day]]></category>
		<category><![CDATA[Get Involved]]></category>
		<category><![CDATA[No. 7]]></category>
		<category><![CDATA[NAG]]></category>
		<category><![CDATA[Southwest Greenpoint]]></category>

		<guid isPermaLink="false">/?p=957</guid>
		<description><![CDATA[Join us and Neighbors Allied for Good Growth to pick up southwest Greenpoint, meet your neighbors and make our community a healthier and cleaner place to live. All volunteers will get a free lunch as a<br/><a class="read-more und-blue-link" href="/southwest-greenpoint-is-about-to-get-cleaner/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>Join us and Neighbors Allied for Good Growth to pick up southwest Greenpoint, meet your neighbors and make our community a healthier and cleaner place to live.</p>
<p>All volunteers will get a free lunch as a thank you for their hard work!</p>
]]></content:encoded>
			<wfw:commentRss>/southwest-greenpoint-is-about-to-get-cleaner/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>April 30: Greenpoint Community Environmental Fund Open House</title>
		<link>/april-30-greenpoint-community-environmental-fund-open-house/</link>
		<comments>/april-30-greenpoint-community-environmental-fund-open-house/#comments</comments>
		<pubDate>Mon, 25 Apr 2016 16:28:10 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Project Update]]></category>
		<category><![CDATA[GCEF]]></category>

		<guid isPermaLink="false">/?p=940</guid>
		<description><![CDATA[The Greenpoint Community Environmental Fund’s investment of over $54M in Greenpoint’s environment is underway and helping to transform our community! On Saturday, April 30, Greenpoint residents are invited to learn about the 30+ environmental<br/><a class="read-more und-blue-link" href="/april-30-greenpoint-community-environmental-fund-open-house/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>The Greenpoint Community Environmental Fund’s investment of over $54M in Greenpoint’s environment is underway and helping to transform our community!<br />
On Saturday, April 30, Greenpoint residents are invited to learn about the 30+ environmental projects GCEF has made possible, including Curb Your Litter!</p>
<p>DATE: Saturday, April 30<br />
TIME: 10:00am-12:00pm<br />
LOCATION: Warsaw @ The Polish National Home, 261 Driggs Ave</p>
]]></content:encoded>
			<wfw:commentRss>/april-30-greenpoint-community-environmental-fund-open-house/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
