<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Neighborhood News &#8211; Curb Your Litter</title>
	<atom:link href="/output/neighborhood-news/feed/" rel="self" type="application/rss+xml" />
	<link>http://curbyourlitter.org</link>
	<description>Greenpoint</description>
	<lastBuildDate>Tue, 24 Apr 2018 02:35:52 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.1</generator>

<image>
	<url>/wp-content/uploads/cyl-icon.png</url>
	<title>Neighborhood News &#8211; Curb Your Litter</title>
	<link>http://curbyourlitter.org</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Community Map Fair: July 27</title>
		<link>/community-map-fair-july-27/</link>
		<comments>/community-map-fair-july-27/#respond</comments>
		<pubDate>Mon, 25 Jul 2016 21:20:13 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Project Update]]></category>
		<category><![CDATA[NAG]]></category>

		<guid isPermaLink="false">/?p=1001</guid>
		<description><![CDATA[We&#8217;re plugging our interactive trash map at the Neighbors Allied for Good Growth (NAG) Community Map Fair this Wednesday, July 27. The evening convenes several neighborhood organizations who have built maps about soil contamination, bicycle safety, affordable<br/><a class="read-more und-blue-link" href="/community-map-fair-july-27/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>We&#8217;re plugging our interactive trash map at the Neighbors Allied for Good Growth (NAG) Community Map Fair this Wednesday, July 27.</p>
<p>The evening convenes several neighborhood organizations who have built maps about soil contamination, bicycle safety, affordable housing, school segregation and other important information about North Brooklyn. NAG will also be launching their ToxiCity Map, the first ever comprehensive study of all the environmental contamination facing Greenpoint and Williamsburg.</p>
<p><strong>Event Details</strong><br />
Wednesday, July 27<br />
6:30 -8:30 PM<br />
McCarren Park Community Room (776 Lorimer St)<br />
<a href="https://www.facebook.com/events/547668642083251/">RSVP here</a></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/community-map-fair-july-27/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>April 30: Greenpoint Community Environmental Fund Open House</title>
		<link>/april-30-greenpoint-community-environmental-fund-open-house/</link>
		<comments>/april-30-greenpoint-community-environmental-fund-open-house/#respond</comments>
		<pubDate>Mon, 25 Apr 2016 16:28:10 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Project Update]]></category>
		<category><![CDATA[GCEF]]></category>

		<guid isPermaLink="false">/?p=940</guid>
		<description><![CDATA[The Greenpoint Community Environmental Fund’s investment of over $54M in Greenpoint’s environment is underway and helping to transform our community! On Saturday, April 30, Greenpoint residents are invited to learn about the 30+ environmental<br/><a class="read-more und-blue-link" href="/april-30-greenpoint-community-environmental-fund-open-house/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>The Greenpoint Community Environmental Fund’s investment of over $54M in Greenpoint’s environment is underway and helping to transform our community!<br />
On Saturday, April 30, Greenpoint residents are invited to learn about the 30+ environmental projects GCEF has made possible, including Curb Your Litter!</p>
<p>DATE: Saturday, April 30<br />
TIME: 10:00am-12:00pm<br />
LOCATION: Warsaw @ The Polish National Home, 261 Driggs Ave</p>
]]></content:encoded>
			<wfw:commentRss>/april-30-greenpoint-community-environmental-fund-open-house/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Help us review Pratt student&#8217;s ideas improving Greenpoint&#8217;s sustainability</title>
		<link>/help-us-review-pratt-students-ideas-improving-greenpoints-sustainability/</link>
		<comments>/help-us-review-pratt-students-ideas-improving-greenpoints-sustainability/#respond</comments>
		<pubDate>Tue, 15 Dec 2015 18:17:53 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Project Update]]></category>
		<category><![CDATA[Partnership]]></category>
		<category><![CDATA[Pratt]]></category>

		<guid isPermaLink="false">/?p=926</guid>
		<description><![CDATA[The Curb Your Litter team was invited to be a client in a practice-based course at Pratt Institute&#8217;s Sustainable Environmental Systems masters program. Over the Fall 2015 semester, students in a course titled Sustainable Communities have<br/><a class="read-more und-blue-link" href="/help-us-review-pratt-students-ideas-improving-greenpoints-sustainability/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>The Curb Your Litter team was invited to be a client in a practice-based course at Pratt Institute&#8217;s Sustainable Environmental Systems masters program. Over the Fall 2015 semester, students in a course titled Sustainable Communities have studied the ecological and economic history of Greenpoint to devise a plan and strategy for the sustainable development of our community.</p>
<p>The students will present their final projects and recommendations in a public focus group this week. Please come to hear their ideas and share your feedback!</p>
<p><span style="text-decoration: underline;">Event Details<br />
</span><strong>Wednesday, December 16<br />
</strong><strong>6 &#8211; 7:30 PM</strong><br />
<strong>Bushwick Inlet Park Building (on Kent &amp; N 8th)</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>/help-us-review-pratt-students-ideas-improving-greenpoints-sustainability/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Come see us at TASTE 2015!</title>
		<link>/come-see-us-at-taste-2015/</link>
		<comments>/come-see-us-at-taste-2015/#respond</comments>
		<pubDate>Wed, 09 Sep 2015 20:51:29 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Project Update]]></category>
		<category><![CDATA[Outreach]]></category>
		<category><![CDATA[TASTE]]></category>

		<guid isPermaLink="false">/?p=857</guid>
		<description><![CDATA[On Sunday, September 13, we will be at the TASTE Williamsburg / Greenpoint festival in East River State Park. Stop by our table between bites from some of the best restaurants in our neighborhood to learn<br/><a class="read-more und-blue-link" href="/come-see-us-at-taste-2015/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>On Sunday, September 13, we will be at the TASTE Williamsburg / Greenpoint festival in East River State Park. Stop by our table between bites from some of the best restaurants in our neighborhood to learn more about Curb Your Litter!</p>
<p>Tickets for the event are on sale <a href="http://www.tastewg.com/">here</a>.  All proceeds from the event go to <a href="http://www.nthccc.org/" target="_blank">Northside Town Hall Community and Cultural Center</a>, a nonprofit working to renovate and operate the former Engine Co. 212 Firehouse into a permanent home to neighborhood social justice organizations for continued advocacy and direct services to Williamsburg and Greenpoint.</p>
]]></content:encoded>
			<wfw:commentRss>/come-see-us-at-taste-2015/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Good.Clean.Fun in McCarren Park</title>
		<link>/good-clean-fun-in-mccarren-park/</link>
		<comments>/good-clean-fun-in-mccarren-park/#respond</comments>
		<pubDate>Sun, 30 Aug 2015 17:41:56 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Trash News]]></category>
		<category><![CDATA[McCarren Park]]></category>

		<guid isPermaLink="false">http://dev.curbyourlitter.org/p=122</guid>
		<description><![CDATA[When it comes to litter prevention, every little bit counts. Good.Clean.Fun.is a grassroots effort to clean up McCarren Park that utilizes a new approach: passing out gloves to people exercising in McCarren Park and<br/><a class="read-more und-blue-link" href="/good-clean-fun-in-mccarren-park/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>When it comes to litter prevention, every little bit counts. Good.Clean.Fun.is a grassroots effort to clean up McCarren Park that utilizes a new approach: passing out gloves to people exercising in McCarren Park and instructing them to pick up litter while they work out. Sam from Good.Clean.Fun. will be at the track <a href="http://www.nycgovparks.org/events/2015/09/05/its-my-park-at-mccarren-park-with-goodcleanfun" target="_blank">every Saturday from September 5 to October 31, 2015</a> to equip you with gloves and instructions.</p>
<p>Read more about Good.Clean.Fun in the <a href="http://greenpointnews.com/2015/07/09/new-mccarren-program-makes-cleaning-part-of-cardio/" target="_blank">Greenpoint Gazette</a>.</p>
]]></content:encoded>
			<wfw:commentRss>/good-clean-fun-in-mccarren-park/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>This Sunday: Greenpointers Summer Market</title>
		<link>/864-2/</link>
		<comments>/864-2/#respond</comments>
		<pubDate>Fri, 10 Jul 2015 16:28:49 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Project Update]]></category>
		<category><![CDATA[Greenpointers]]></category>
		<category><![CDATA[Outreach]]></category>

		<guid isPermaLink="false">/?p=864</guid>
		<description><![CDATA[This Sunday, July 10, we will be talking to shoppers at the Greenpointer&#8217;s Summer Market. Stop by 67 West Street to check out lots of local vendors, and stop by our table to learn more<br/><a class="read-more und-blue-link" href="/864-2/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p><a href="/wp-content/uploads/11377320_10155578674730447_2590897452325981244_n.jpg"><img class="alignnone wp-image-866 size-full" title="img-responsive" src="/wp-content/uploads/11377320_10155578674730447_2590897452325981244_n.jpg" alt="11377320_10155578674730447_2590897452325981244_n" width="754" height="960" srcset="/wp-content/uploads/11377320_10155578674730447_2590897452325981244_n.jpg 754w, /wp-content/uploads/11377320_10155578674730447_2590897452325981244_n-628x800.jpg 628w" sizes="(max-width: 754px) 100vw, 754px" /></a></p>
<p>This Sunday, July 10, we will be talking to shoppers at the Greenpointer&#8217;s Summer Market. Stop by 67 West Street to check out lots of local vendors, and stop by our table to learn more about how we&#8217;re working to curb our shared litter problem. Admission is free!</p>
<p><a href="https://www.facebook.com/events/562579477217958/" target="_blank">Read more about the event here</a>.</p>
]]></content:encoded>
			<wfw:commentRss>/864-2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Organics Collection is coming to Greenpoint!</title>
		<link>/organics-collection-is-coming-to-greenpoint/</link>
		<comments>/organics-collection-is-coming-to-greenpoint/#respond</comments>
		<pubDate>Wed, 25 Mar 2015 22:43:09 +0000</pubDate>
		<dc:creator><![CDATA[caroline]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Trash News]]></category>
		<category><![CDATA[Compost]]></category>
		<category><![CDATA[Zero Waste]]></category>

		<guid isPermaLink="false">http://dev.curbyourlitter.org/p=428</guid>
		<description><![CDATA[If you live in the area shaded in red on the above map, you will soon be required by the City to separate your food waste from the rest of your trash. In June,<br/><a class="read-more und-blue-link" href="/organics-collection-is-coming-to-greenpoint/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p><img class="img-responsive alignnone wp-image-584 size-full" src="http://dev.curbyourlitter.org/wp-content/uploads/NYC_OrganicsCollection_areas-4.jpg" alt="NYC_OrganicsCollection_areas-4" width="2494" height="3240" srcset="/wp-content/uploads/NYC_OrganicsCollection_areas-4.jpg 2494w, /wp-content/uploads/NYC_OrganicsCollection_areas-4-616x800.jpg 616w" sizes="(max-width: 2494px) 100vw, 2494px" /></p>
<p><img class="img-responsive alignnone wp-image-622 size-full" src="http://dev.curbyourlitter.org/wp-content/uploads/nbcnewsvideo.jpg" alt="nbcnewsvideo" width="2880" height="1634" srcset="/wp-content/uploads/nbcnewsvideo.jpg 2880w, /wp-content/uploads/nbcnewsvideo-800x454.jpg 800w" sizes="(max-width: 2880px) 100vw, 2880px" /></p>
<p>If you live in the area shaded in red on the above map, you will soon be required by the City to separate your food waste from the rest of your trash.</p>
<p>In June, the NYC Department of Sanitation will deliver special containers to store your separated food waste to be picked up at the same time as your other trash and recycling. We&#8217;re excited to start separating our compost to help reduce the amount of overall trash sent to landfill in New York City.</p>
<p><a href="http://gothamist.com/2014/05/30/nyc_composting_tips.php#photo-1" target="_blank">Read more about what a resident of Park Slope had to say about adopting a new organics collection program in his neighborhood</a>.</p>
]]></content:encoded>
			<wfw:commentRss>/organics-collection-is-coming-to-greenpoint/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>DNAInfo reports on Greenpoint’s litter problem</title>
		<link>/dna-info-reports-on-greenpoint-litter-problem/</link>
		<comments>/dna-info-reports-on-greenpoint-litter-problem/#respond</comments>
		<pubDate>Fri, 20 Mar 2015 19:47:23 +0000</pubDate>
		<dc:creator><![CDATA[Zach Mihalko]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Trash News]]></category>
		<category><![CDATA[Franklin Street]]></category>
		<category><![CDATA[Neighborhood Voices]]></category>

		<guid isPermaLink="false">http://dev.curbyourlitter.org/p=295</guid>
		<description><![CDATA[“As she walked her dog one recent morning, Danielle McGunagle steered her pup away from broken glass, an old mattress, plastic bags and a chicken bone strewn on the sidewalk. &#8216;It&#8217;s dirty and it&#8217;s<br/><a class="read-more und-blue-link" href="/dna-info-reports-on-greenpoint-litter-problem/">Read More &#8250;</a>]]></description>
				<content:encoded><![CDATA[<p>“As she walked her dog one recent morning, Danielle McGunagle steered her pup away from broken glass, an old mattress, plastic bags and a chicken bone strewn on the sidewalk.</p>
<p>&#8216;It&#8217;s dirty and it&#8217;s dangerous,&#8217; she said of the West Street and Franklin Street blocks in Northern Greenpoint, an area that has no public trash cans. &#8220;The streets are filthy, rife with broken glass, trash, discarded mattresses and auto parts, even construction debris.'&#8221;</p>
<p>Read more from Meredith Hoffman’s 2013 article “<a href="http://www.dnainfo.com/new-york/20130204/greenpoint/lack-of-trash-cans-leaves-greenpoint-streets-strewn-with-trash" target="_blank">Lack of Trash Cans Leaves Greenpoint Streets Strewn With Litter.</a>”</p>
]]></content:encoded>
			<wfw:commentRss>/dna-info-reports-on-greenpoint-litter-problem/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Greenpoint lacks necessary trash bins, residents say</title>
		<link>/greenpoint-lacks-necessary-trash-bins/</link>
		<comments>/greenpoint-lacks-necessary-trash-bins/#respond</comments>
		<pubDate>Mon, 09 Mar 2015 20:41:58 +0000</pubDate>
		<dc:creator><![CDATA[Zach Mihalko]]></dc:creator>
				<category><![CDATA[Neighborhood News]]></category>
		<category><![CDATA[Trash News]]></category>
		<category><![CDATA[Franklin Street]]></category>
		<category><![CDATA[Neighborhood Voices]]></category>

		<guid isPermaLink="false">http://dev.curbyourlitter.org/p=316</guid>
		<description><![CDATA[In 2013, NBC 4 New York’s Roseanne Colletti reported on Greenpointers’ opinion that a lack of trash cans in the neighborhood is causing a major litter problem. See the full story.]]></description>
				<content:encoded><![CDATA[<p><script src="http://www.nbcnewyork.com/portableplayer/?cmsID=189742941&amp;videoID=ar8oFaUasMJ0&amp;origin=nbcnewyork.com&amp;sec=video&amp;subsec=&amp;width=600&amp;height=360" type="text/javascript" charset="UTF-8"></script></p>
<p>In 2013, NBC 4 New York’s Roseanne Colletti reported on Greenpointers’ opinion that a lack of trash cans in the neighborhood is causing a major litter problem. <a href="http://www.nbcnewyork.com/video/#!/on-air/as-seen-on/Greenpoint-Lacks-Necessary-Trash-Bins--Residents-Say/189742941" target="_blank">See the full story.</a></p>
]]></content:encoded>
			<wfw:commentRss>/greenpoint-lacks-necessary-trash-bins/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
