<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for Curb Your Litter</title>
	<atom:link href="/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://curbyourlitter.org</link>
	<description>Greenpoint</description>
	<lastBuildDate>Fri, 20 Apr 2018 18:19:20 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.1</generator>
</channel>
</rss>
